.main-section--btn-rounded{
  border-radius:36px;
}

button {
  background-color: $nickel !important;
  border-color: $nickel !important;
}

.main-section--btn-size{
  padding: .5rem 2rem;
}

.pagination{
border-radius:36px !important;
color: $nickel !important;
}

.page-link{
  text-decoration: none !important;
}
