// Primer esquema de colores
$white: #FFF;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;


// Segundo Esquema
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;

//tercer esquema
 $eerie-black:#121619;
 $raisin-black: #222323;
 $nickel: #6C6E70;


// tipografía $playfair: 'Playfair Display', serif;
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

// peso fuentes $regular: 400;
$regular: 400;
$black: 900;
$light: 300;

//tamaños de fuente $xxxx-large: 130px;
$xx-large: 70px;
$x-large:30px;
$large: 18px;
$medium: 16px;
$small: 12px;
